################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Interview/.vs/Interview/v15
/Interview/Interview/bin/Debug
/Interview/Interview/obj
/Interview/Interview.Test/bin/Debug
/Interview/Interview.Test/obj/Debug
/Interview/packages
